.btn-secondary{

    display: flex;
    justify-content: center;
    width: 170px;
    height: 170px;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.3;
    border: 1px solid var(--secondary);
    text-align: center;
    align-items: center;
    border-radius: 50%;

}

.btn-secondary:hover{
    background: #c9f31d;
    color:black !important;
}


.solution-main{

    padding-top: 110px;
    padding-bottom: 150px;
    background-color: var(--black);
}

.servvice-text{
    max-width: 320px;
}


.service-area-main{
    display: grid;
    grid-template-columns: 0.7fr 2fr 2.5fr 1fr;
    padding: 35px 0;
    border-bottom: 1px solid var(--secondary) ;
    align-items: center;

}

.transit-images{
    height: auto;
    max-width: 100%;
    border: none;
    border-radius: 0;
    box-shadow: none;

    transition: all .5s;
    opacity: 0;
  

    transform: rotate(0deg) translateX(-100px);

    overflow-clip-margin: content-box;
    overflow: clip;
}


.transit-images.active{
    transform: rotate(15deg) translateX(60px) translateY(30px);
    opacity: 1;

}


.badge-screen{
    position: absolute;
    width: 175px;
    height: 70px;
    background-color: var(--primary);
    bottom: -180px;
    left: 0;
    transition-delay: .2s;
    z-index: 1;
    transition: all .3s;

    transform: rotate(-26deg) translate(120px,-100%);
}

.about-2-main{
    background-image: url(../../../public/images/about2.png);
    background-repeat: no-repeat;
    background-position: left;
    background-position-y: 190px;

}

@media only screen and  (max-width: 767px)  {



    .service-area-main{

        grid-template-columns: 1fr;
        padding: 25px 0 10px;

    }
    
    }

    @media only screen and  (max-width: 1240px)  {



        .img-wrapper{
    
         display: none;
    
        }
        
        }

        @media only screen and  (max-width: 768px)  {



            .about-2-main{
        
            background-image: none;
        
            }
            
            }