.Marquee {
  width: 100vw;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  overflow: hidden;
}

.Marquee-content {
  display: flex;
  animation: marquee 5s linear infinite running;
}

.Marquee-tag {
  width: 300px;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 10s ease;
}

.marqueeright {
  width: 100vw;
  box-sizing: border-box;

  display: flex;

  align-items: center;
  overflow: hidden;
}

.Marquee-right-tag {
  width: 300px;

  display: flex;

  align-items: center;
  justify-content: center;
  transition: all 10s ease;
}

.marquee-right-content {
  display: flex;
  animation: marqueeright 5s linear infinite running;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translate(-50%);
  }
}

@keyframes marqueeright {
  0% {
    transform: translate(-50%);
  }
  100% {
    transform: translate(0);
  }
}

.about-desc-data {
  -webkit-animation: fadeUp 15s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: fadeUp 15s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

.first {
  animation: fadeUp 1.2s ease-in-out 0s forwards;
}
.second {
  animation: fadeUp 1.4s ease-in-out 0s forwards;
}
.third {
  animation: fadeUp 1.6s ease-in-out 0s forwards;
}
.fourth {
  animation: fadeUp 1.8s ease-in-out 0s forwards;
}
.fifth {
  animation: fadeUp 1.11s ease-in-out 0s forwards;
}
.sixth {
  animation: fadeUp 1.13s ease-in-out 0s forwards;
}

.seventh {
  animation: fadeUp 1.15s ease-in-out 0s forwards;
}

.eighth {
  animation: fadeUp 1.17s ease-in-out 0s forwards;
}

.ninth {
  animation: fadeUp 1.17s ease-in-out 0s forwards;
}
.tenth {
  animation: fadeUp 1.22s ease-in-out 0s forwards;
}

.eleventh {
  animation: fadeUp 1.24s ease-in-out 0s forwards;
}
/* animation: fadeUp 2s ease-in-out 0s forwards; */

@keyframes fadeUp {
  /* 0% {
    opacity: 0;
    transform: translateY(+80%);
  }

  50% {
    transform: translateY(0px);
    opacity: 1;
  }

  100% {
    opacity: 1;
  } */

  0% {
    letter-spacing: -0.1em;
    -webkit-transform: translateZ(1500px) translateY(100px);
    transform: translateZ(1500px) translateY(100px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
