.roll-area {
  padding: 31px 10px;
  background-color: var(--black2);
}

.swiper-1 {
  background-color: var(--black2);
  padding: 31px 10px;
}
.swiper-2 {
  background-color: #331c53;
  padding: 31px 10px;
}

.about-left-img {
  height: 500px;
  overflow: hidden;
  position: relative;
}

.left-image-section {
  background-image: url("../../../public/images/about-left.png");
  background-size: contain;

  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100vw;
  position: absolute;
  top: 0;
  width: 150vw;
}

.about-area {
  background-color: var(--black2);
}

.about-maintitle {
  padding-left: 190px;
  padding-bottom: 60px;
}

.about-title {
  max-width: 780px;

  z-index: 9;

  line-height: 1;
}

.secondary {
  width: 53px;
  height: 56px;
  background: var(--secondary);
}
.primary {
  width: 54px;
  height: 56px;
  background-color: var(--primary);

  margin-left: 24px;
}

.about-description {
  padding-top: 65px;
  perspective: 400;
  z-index: 9;
  position: relative;
}

@media (max-width: 760px) {
  .swiper-button-next {
    right: 20px;
    transform: rotate(90deg);
  }

  .swiper-button-prev {
    left: 20px;
    transform: rotate(90deg);
  }
}

@media only screen and (min-width: 992px) {
  .about-right-img {
    position: absolute;
    right: -30px;
    top: -155px;
  }

  .shape {
    position: absolute;
    bottom: -80px;
    left: -130px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1240px) {
  .shape {
    position: static;
  }

  .about-right-img {
    display: none;
    position: static;
  }
}

@media only screen and (min-width: 0px) and (max-width: 768px) {
  .shape {
    position: static;
  }

  .about-right-img {
    display: block;
    position: static;
  }

  .about-right-image-section-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  .shape {
    padding: 20px;
  }
}
.anima-text {
  display: block;
  text-align: start;
  position: relative;
  translate: none;
  rotate: none;
  scale: none;
  transform-origin: 385px 30px;
  transform: translate3d(0px, 0px, 0px);
  opacity: 1;
}

.desc-anima {
  display: block;
  text-align: start;
  position: relative;
  translate: none;
  rotate: none;
  scale: none;
  transform-origin: 220px 12.6px;
  transform: translate3d(0px, 0px, 0px);
  opacity: 1;
}

@media only screen and (min-width: 0px) and (max-width: 992px) {
  .about-maintitle {
    padding-left: 0px !important;
  }
}

@media only screen and (min-width: 0px) and (max-width: 576px) {
  .about-maintitle {
    padding: 0px !important;
  }
}
