:root {
  --cl-white: #fff;
  --black2: #121212;
  --black4: #1d1d1d;
  --black: #000;
  --gray3: #a8a8a8;
  --secondary: #2c2c2c;
  --primary: #c9f31d;
  --gray2: #999;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cl-white {
  color: var(--cl-white) !important;
}

.fs-16 {
  font-size: 16px !important;
}

.fs-18 {
  font-size: 18px !important;
}
.fs-26 {
  font-size: 26px;
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500 !important;
}

.f-sansserif {
  font-family: sans-serif !important;
}

.h-22 {
  height: 22px;
}

.fs-110 {
  font-size: clamp(3.75rem, -0.1563rem + 12.5vw, 6.875rem);
}

@font-face {
  font-family: "kanit";
  src: url(../public/kanitfont/Kanit-Regular.ttf);
}
.f-kanit {
  font-family: "kanit";
}
.fs-50 {
  font-size: 50px;
}

.t-uppercase {
}

.pt-140 {
  padding-top: 140px;
}
.pb-130 {
  padding-bottom: 130px;
}

.fs-60 {
  font-size: clamp(2rem, -0.1875rem + 7vw, 3.125rem);
}
.cl-gray2 {
  color: var(--gray2);
}

.p-40 {
  padding: 40px;
}

.fs-20{
  font-size: clamp(1rem, 0.6875rem + 1vw, 1.25rem);
}

.fs-28{
  font-size: 28px;
}
.fs-48{
  font-size: 40px;
}

.pt-130{
  padding-top: 130px;
  padding-bottom: 110px;
}